<html>
	<head>
		<title>Alpha Amps Project Template</title>
	</head>
	<body>
		<section>
			<div>
				<img src="./icon.png" alt="Alpha Amps" draggable="false" />
				<img src="./icon_large.png" alt="Alpha Amps" draggable="false" />
			</div>

			<h1>Alpha Amps PCB Design Template</h1>
			<h2>Professional PCB Projects</h2>

			<div>
				<img src="./brd_1.png" alt="Board" draggable="false" />
				<img src="./brd_2.png" alt="Board" draggable="false" />
				<img src="./brd_3.png" alt="Board" draggable="false" />
			</div>

			<br />

			<div>
				Welcome to the Alpha Amps project template! This template is designed to
				help you create professional Printed Circuit Board (PCB) designs
				efficiently and effectively using KiCad.

				<br />

				With this template, you can:

				<ul>
					<li>Structure your projects for optimal workflow.</li>
					<li>Follow best practices for schematic design and PCB layout.</li>
					<li>Ensure EMI considerations are addressed.</li>
					<li>Produce production-ready designs with ease.</li>
				</ul>
			</div>

			<p>
				For more resources and support, visit my portfolio:
				<a href="https://elmadichoaib.vercel.app" target="_blank"
					>Choaib ELMADI Portfolio</a
				>
			</p>

			<div>
				Explore my work:
				<ul>
					<li>
						<a href="https://github.com/Choaib-ELMADI" target="_blank"
							>GitHub</a
						>
					</li>
					<li>
						<a
							href="https://github.com/Choaib-ELMADI/pcb-projects"
							target="_blank"
							>PCB Projects Repository</a
						>
					</li>
					<li>
						<a href="https://linkedin.com/in/choaib-elmadi" target="_blank"
							>LinkedIn</a
						>
					</li>
				</ul>
			</div>

			<p>
				Happy designing! For inquiries or support, feel free to contact me via
				my Portfolio or LinkedIn.
			</p>

			<hr />

			<p>&copy; 2024 Alpha Amps. All rights reserved.</p>
		</section>
	</body>
</html>
